<section>
  <h2>Colors</h2>
  <h3>Primary</h3>
  <section class="group">
    <app-color-swatch
      cssVarName="--mat-sys-primary"
      textColorVarName="--mat-sys-on-primary"
    ></app-color-swatch>
    <app-color-swatch
      cssVarName="--mat-sys-primary-container"
      textColorVarName="--mat-sys-on-primary-container"
    ></app-color-swatch>
  </section>

  <h3>Secondary</h3>
  <section class="group">
    <app-color-swatch
      cssVarName="--mat-sys-secondary"
      textColorVarName="--mat-sys-on-secondary"
    ></app-color-swatch>
    <app-color-swatch
      cssVarName="--mat-sys-secondary-container"
      textColorVarName="--mat-sys-on-secondary-container"
    ></app-color-swatch>
  </section>

  <h3>Tertiary</h3>
  <section class="group">
    <app-color-swatch
      cssVarName="--mat-sys-tertiary"
      textColorVarName="--mat-sys-on-tertiary"
    ></app-color-swatch>
    <app-color-swatch
      cssVarName="--mat-sys-tertiary-container"
      textColorVarName="--mat-sys-on-tertiary-container"
    ></app-color-swatch>
  </section>

  <h3>Surface</h3>
  <section class="group">
    <app-color-swatch
      cssVarName="--mat-sys-surface"
      textColorVarName="--mat-sys-on-surface"
    ></app-color-swatch>
    <app-color-swatch
      cssVarName="--mat-sys-surface-container"
      textColorVarName="--mat-sys-on-surface"
    ></app-color-swatch>
  </section>

  <h3>Error</h3>
  <section class="group">
    <app-color-swatch
      cssVarName="--mat-sys-error"
      textColorVarName="--mat-sys-on-error"
    ></app-color-swatch>
    <app-color-swatch
      cssVarName="--mat-sys-error-container"
      textColorVarName="--mat-sys-on-error-container"
    ></app-color-swatch>
  </section>

  <h3>Outline</h3>
  <div class="divider-outline"></div>
  <span>--mat-sys-color-outline</span>
  <div class="divider-outline-variant"></div>
  <span>--mat-sys-outline-variant</span>
</section>
