<mat-toolbar color="primary">
  <a routerLink="/" aria-label="Accueil">
    <img src="assets/images/logo.svg" alt="Logo de Mon Site" class="toolbar-logo" />
  </a>
  <span>Mon Application</span>

  <span class="spacer"></span>

  @if (isMobile()) {
    <div>
      <button
        mat-icon-button
        [matMenuTriggerFor]="mobileMenu"
        aria-label="Ouvrir le menu de navigation"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #mobileMenu="matMenu">
        <a mat-menu-item routerLink="/page1">Page 1</a>
        <a mat-menu-item routerLink="/page2">Page 2</a>
        <a mat-menu-item routerLink="/contact">Contact</a>

        <mat-divider></mat-divider>

        <div class="user-profile-menu">
          <span>Prénom Nom</span>
          <small>Version: 1.0.0</small>
        </div>
        <a mat-menu-item (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
          <span>Se déconnecter</span>
        </a>
      </mat-menu>
    </div>
  } @else {
    <mat-slide-toggle
      [checked]="themeService.theme() === 'dark'"
      (change)="themeService.toggleTheme()"
      [aria-label]="
        themeService.theme() === 'dark' ? 'Désactiver le mode sombre' : 'Activer le mode sombre'
      "
    >
      {{ themeService.theme() === 'dark' ? 'Mode Sombre' : 'Mode Clair' }}
    </mat-slide-toggle>
    <div class="desktop-right-section">
      <nav>
        <a mat-button routerLink="/page1">Page 1</a>
        <a mat-button routerLink="/page2">Page 2</a>
        <a mat-button routerLink="/contact">Contact</a>
      </nav>

      <div class="user-profile">
        <span class="user-profile-name">Prénom Nom</span>
        <button mat-button (click)="logout()">Se déconnecter</button>
        <small class="user-profile-version">Version: 1.0.0</small>
      </div>
    </div>
  }
</mat-toolbar>
<router-outlet></router-outlet>
